<section class="hero">
  <div class="hero__container">
    <div class="hero__message">
      <h1 class="hero-title">
        Happy shopping!
      </h1>

      <p class="subtitle">
        
      </p>
    </div>
  </div>
</section>
