.hero {
  background: url("logo/2.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  
  
  color: $color-copy-bright;
  width: 100%;
  padding: 10rem 0;

  &__container {
    @extend %section-spacings;
    display: flex;
  }
}
